@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&family=IM+Fell+Great+Primer+SC&display=swap');
 
body{
    margin: 0;
    height: 100vh;
    font-family: 'IM Fell Great Primer SC', serif;
}
iframe{
    width: 100%;
    margin-right: auto;
    position: absolute;
    z-index: 0;
    top: 0px;
    right: 0;
}
iframe .spline-watermark{
    display: none;
}