@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&family=IM+Fell+Great+Primer+SC&display=swap');
body{
    margin: 0;
    font-family: 'IM Fell Great Primer', serif;
}
.mainbg{
 width: 600px;
 height: 300px;
 background-color: rgba(255, 132, 255, 0.811);
 margin: auto;
filter: blur(80px);
margin-top: 200px;
border-radius: 50%;
}
.status{
    text-shadow: -4px 3px 6px rgba(0,0,0,0.51);
    font-size: 56pt;
    color: rgb(191, 0, 255);
    transform: translateX(35%) translateY(-200px);
}